fastapi==0.110.0
uvicorn==0.30.0
gunicorn==22.0.0
python-multipart==0.0.9
pillow==10.2.0
pdf2image==1.17.0
pytesseract==0.3.10
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
sqlalchemy==2.0.28
pymysql==1.1.0
python-dotenv==1.0.1
cryptography==42.0.5
numpy==1.26.4
opencv-python-headless==4.9.0.80
cryptography-x509==0.3.0
